header {
    background-color:white;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.nav {
    display: flex;
}

.nav>li>a {
    color: blue;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.welcome {
    /* 画像の読み込み */
    background-image: url('../img/himejijo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    color: white;
    font-weight: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Pacifico', cursive;
}

ul {
    font-family: 'Pacifico', cursive;
}

.title {
    font-size: 80px;
    text-align: center;
}

.guideline li {
    text-align: center;
    font-size: 40px;
}

#about,#tour,#contact {
    width: 100%;
}

#about>h2,
#tour>h2,
#contact>h2
{
    font-size: 40px;
    text-align: center;
    color: grey;
    padding-top: 40px;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 20px auto;
}

.discription {
    width: 50%;
}

.contents > img {
    height: 150px;
    margin: 0 20px;
}

.tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.contents-left img{
    height: 300px;
}
.contents-right {
    margin-left: 50px;
}
.contents-right h3 {
    margin-bottom: 30px;
}
.cards {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border: 1px solid black;
    margin: 0 15px;
    padding: 20px 30px;
}
.card > img {
    height: 150px;
    margin: 0 20px;
}
.card h2{
    text-align: center;
    margin-bottom: 20px;
}

.yoko {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.tate {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
}

.img_yoko {
    width: 90%;
}

.img_tate {
    width: 43%;
    margin: 5px;
}

#contact {
    margin-bottom: 230px;
}
.contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
input, textarea {
    width: 40%;
    font-size: 23px;
    margin-bottom: 18px;
    padding: 3px 12px;
}
input, textarea, button {
    border-radius: 5px;
}
textarea {
    width: 40%;
}
button {
    width: 140px;
    font-size: 23px;
    padding: 7px;
    height: 60px;
    background-color: #223644;
    margin-top: 26px;
    cursor: pointer;
    color: white;
}

footer {
    background-color: rgb(6,39,66);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    font-size: 20px;
}

